[Unit]
Description=BTC Price Break Bot
After=network.target


[Service]
EnvironmentFile=/etc/default/btc-price-bot
WorkingDirectory=/opt/btc-price-bot
ExecStart=/usr/bin/node /opt/btc-price-bot/src/index.js
Restart=always
User=bot
Group=bot


[Install]
WantedBy=multi-user.target